### Basics Of Python

#### Print Hello World

In [12]:
print("prasanna kumar")

prasanna kumar

### VARIABLES

In [15]:
x=10
x

10

In [16]:
print(x)

10

In [17]:
y=100
y

100

In [30]:
name="Prasanna"
gender="Male"
Experience=2

In [31]:
name
Experience
gender

'Male'

In [32]:
print(name)
print(gender)
print(Experience)

Prasanna
Male
2

In [ ]:
Gender ### Case-Sensitive

In [33]:
gender

'Male'

In [25]:
y=16
x="prasanna"
x
y

16

In [26]:
x,y

('prasanna', 16)

In [27]:
y,x

(16, 'prasanna')

In [28]:
print(x,y)

prasanna 16

In [29]:
z=y
z

16

In [34]:
y

16

In [35]:
x=y=z="test"
print(z)

test

In [36]:
x,y,z=24,21,12
x

24

In [37]:
y

21

In [38]:
z

12

### Rules for naming the Variables

### Variable can have alphabets[A-Z,a-z]

### Variable name should not start with a number

### Variables do not allow special characters other than underscore

### Case sensitive

In [39]:
Books=["DS with Python", "BA with Python"]
Books

['DS with Python', 'BA with Python']

In [41]:
books

NameError: name 'books' is not defined

In [42]:
7books=["DS with Python", "BA with Python"]
7books

SyntaxError: invalid syntax (3092342648.py, line 1)

In [43]:
b7ooks=["DS with Python", "BA with Python"]
b7ooks

['DS with Python', 'BA with Python']

In [44]:
books*lists=["DS with Python", "BA with Python"]
books*lists

SyntaxError: cannot assign to operator (3871118170.py, line 1)

In [46]:
books_lists=["DS with Python", "BA with Python"]
books_lists

['DS with Python', 'BA with Python']

In [47]:
book names="python","R"

SyntaxError: invalid syntax (1949903290.py, line 1)

### Rules for naming Variables

### Case-Sensitive

### It should start with A-Z,a-z or_

### It should not start with a number but it can have numbers

### Space is not allowed

In [48]:
### Data Types
x=107
time(x)

NameError: name 'time' is not defined